@page "/counter"
@inject HttpClient Client 

<h1>Counter</h1>

<p>Current count: @currentCount</p>
@if(Registros!=null)
{
<ul>
    @foreach(var r in Registros)
    {
    <li>@r.Nombre</li>
    }
</ul>
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
        protected override async Task OnInitializedAsync()
        {
            Registros = await Client.GetFromJsonAsync<List<Registros>>("WeatherForecast/GetRegistros");
        }

        private async void IncrementCount()
    {
        currentCount++;
        
    }
    List<Registros> Registros;
}
